<div class="content-list-body row">
  <div class="col-12" *ngFor="let task of tasks$ | async">
    <div class="card card-task">
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          [checkListProgresbar]="task.checkListIds"
          [checkListsProgres]="task.checkList"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>

      <div class="card-body">
        <div class="card-title">
          <a href="#"
            ><h6 data-filter-by="text">{{ task.name }}</h6></a
          >
          <span class="text-small"
            >Due on {{ task.dueDate | convertUnixDate }}</span
          >
        </div>
        <div class="card-meta">
          <app-avatars-list
            [employees]="task.employees"
            [asigneeIds]="task.assigneeIds"
          ></app-avatars-list>
          <div class="d-flex align-items-center">
            <i class="material-icons">playlist_add_check</i>
            <span
              >{{ task.checkListIds | isDoneCheckList : task.checkList }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
