<div class="content-list">
  <div class="content-list-body row">
    <div class="col-6" *ngFor="let employee of employees$ | async">
      <a class="media media-member" [routerLink]="'/employees/' + employee.id">
        <img
          alt="Claire Connors"
          [src]="employee.avatarUrl"
          class="avatar avatar-lg"
        />
        <div class="media-body">
          <h6 class="mb-0" data-filter-by="text">
            {{ employee.firstName }} {{ employee.lastName }}
          </h6>
          <span data-filter-by="text" class="text-body">{{
            employee.position
          }}</span>
        </div>
      </a>
    </div>
  </div>
</div>
